/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/images/vendor
/public/images/*.gif
/storage/*.key
/vendor
/public/*.js
/public/*.js.map
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
